/* blue theme */
body.blue {
    background-image: url("../../../img/backgrounds/blue.jpg");
}

/* style volume field */
body.blue .range-field input[type="range"]::-webkit-slider-thumb  {
    border-color: #003399;
}
body.blue .range-field input[type="range"]::-moz-range-thumb  {
    border-color: #003399;
}
body.blue .range-field input[type="range"]::-ms-thumb  {
    border-color: #003399;
}
body.blue .range-field input[type="range"]+.thumb {
    border-color: #003399;
}

body.blue #radios ul li.selected {
    background-color: #003399;
}


/* new button colors */
body.blue .btn-danger-dark {
    background-color: #003399 !important;
    color: #fff;
}

body.blue .btn-outline-danger-dark {
    border: 2px solid #003399 !important;
    background-color: white !important;
    color: #000 !important;
}

body.blue a:hover, a:active {
    color: #222222;
}
