/* green theme */
body {
    background-image: url("../../../img/backgrounds/green.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100%;
    overflow: hidden;
}

#player {
    width: 480px;
    height: 480px;
    border: solid 1px black;
    padding: 10px;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #FFF;
    -webkit-box-shadow: 4px 4px 16px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 16px -4px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 16px -4px rgba(0,0,0,0.75);
    z-index: 10;
    overflow: hidden;

}

#fancyPlayer { display: none; }

#trackTitle {
    margin-bottom: 0;
    height: auto;
    width: 380px;
    font-size: 1.2em;
    position: relative;
    left: 70px;
    top: -50px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
}

#volumeControls {
    margin-left: 15px;
    margin-top: -30px;
    height: 30px;
}

#volumeSlider {
    width: 300px;
    height: 100px;
    position: relative;
    top: -55px;
    left: 50px;
    z-index: 20;
}

/* style volume field */
.range-field input[type="range"]::-webkit-slider-thumb  {
    background: #006633 !important;
}
.range-field input[type="range"]::-moz-range-thumb  {
    background: #006633 !important;
}
.range-field input[type="range"]::-ms-thumb  {
    background: #006633 !important;
}
.range-field input[type="range"]+.thumb {
    background-color: #006633;
}

/* history expander */
#historybutton {
    text-align: right;
    width: auto;
    z-index: 200;
    position: relative;
}
#history { display: none; }

/* radio tabs */
#radios { position: absolute; height: 40px; top: 440px; left: 0; background: black;  color: white; vertical-align: middle; width: 480px; }
#radios ul { padding: 0; margin: 0;}
#radios ul li {
    display: inline;
        list-style-type: none;
        padding: 10px;
        margin-top: 2px;
        margin-left: 0;
        height: 40px;
        position: relative;
        top: 8px;
        border-right: 1px solid white;
    }
#radios ul li.selected {
    background-color: #006633;
}
#radios ul li:hover {
    background-color: gray;
    cursor: pointer;
}
#radios ul li.first { margin-left: 1px; }
.shortname { display: none; }

/* new button colors */
.btn-danger-dark {
    background-color: #006633 !important;
    color: #fff;
}

.btn-outline-danger-dark {
    border: 2px solid #006633 !important;
    background-color: transparent !important;
    color: #000 !important;
}

#copyright {
    font-size: 0.7em;
    color: #000;
    position: absolute;
    top: 420px;
}

/* resize */
/* small vertical screen */
@media screen and (max-width: 479px) {
    #player { width: 320px; }
    #trackTitle { width: 230px; font-size: 1.0em; }
    #historybutton { margin-top: 10px; }
    #radios ul li {
        font-size: 0.8em;
        padding-top: 13px;
        padding-bottom: 15px;
    }
    .longname { display: none; }
    .shortname { display: inline-block; }
}
/* small horizontal screen */
@media screen and (max-height: 479px) {
    #player { height: 320px;     }
    #historybutton {display: none;}
    #history {display: none; }
    #radios { top: 280px; }
    #copyright { top: 260px; }
}

a:link, a:visited {
    color: #000;
}
a:hover, a:active {
    color: #006633;
}
