footer.bottom {
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: white;
}

blockquote p {
    margin-left: 1.5em;
}

.dropdown-toggle {
    cursor: pointer;
}

#sspDocNav {
    display: none;
}

.topspace { margin-top: 1em; }
.bottomspace { margin-bottom: 4em; }
.top-matter { font-style: italic; }
