/**
 * SolaShout Player main cascading stylesheet
 *
 * @author JMW
 * @copyright Hawke AI. All Rights reserved.
 */

/* defaults */
body {
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100%;
    overflow: hidden;
}

/* button styling */
.btn {
    margin: .375rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: .84rem 2.14rem;
    font-size: .81rem;
}
.btn.btn-sm {
    padding: .5rem 1.6rem;
    font-size: .64rem;
}
.btn[class*=btn-outline-].btn-sm {
    padding-top: .38rem;
    padding-bottom: .38rem;
}

/* range slider */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 2px 5px 0 rgba(0,0,0,.16), 0px 2px 10px 0 rgba(0,0,0,.12);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000000;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 2px 5px 0 rgba(0,0,0,.16), 0px 2px 10px 0 rgba(0,0,0,.12);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  box-shadow: 0px 2px 5px 0 rgba(0,0,0,.16), 0px 2px 10px 0 rgba(0,0,0,.12);
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]::-ms-fill-upper {
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 2px 5px 0 rgba(0,0,0,.16), 0px 2px 10px 0 rgba(0,0,0,.12);
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #000000;
}

/* player build */
#player {
    width: 480px;
    height: 480px;
    border: solid 1px black;
    padding: 10px;
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #FFF;
    -webkit-box-shadow: 4px 4px 16px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 16px -4px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 16px -4px rgba(0,0,0,0.75);
    z-index: 10;
    overflow: hidden;
}

#fancyPlayer { display: none; }

#trackTitle {
    margin-bottom: 0;
    height: auto;
    width: 380px;
    font-size: 1.2em;
    position: relative;
    left: 70px;
    top: -50px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
}

#volumeControls {
    margin-left: 15px;
    margin-top: -30px;
    height: 30px;
}

#volumeSlider {
    width: 300px;
    height: 20px;
    position: relative;
    top: -51px;
    left: 50px;
    z-index: 20;
}

/* Adblocker warning */
#blockwarning {
    margin-top: 20px;
    display: none;
}
#blockwarning_closer {
    float: right;
    margin-top: -10px;
    text-align: right;
    width: 20px;
}

/* history expander */
#historybutton {
    text-align: right;
    width: auto;
    z-index: 200;
    position: absolute;
    right: 10;
    left: 100%;
    margin-left: -50px;
    margin-top: -30px;
}
#history {
    display: none;
    margin:30px;
    height: 290px;
    overflow: hidden;
}

/* radio select bar */
#streamSelect { position: absolute; height: 40px; top: 440px; left: 0; background: black;  color: white; vertical-align: middle; width: 480px; }
#streamSelectBrowseButtons { position: relative; height: 40px; left: 100%; margin: -2px 0 0 -160px; width: 90px; }
#streamSelectButton, #streamSelectIcon { position:relative; height: 40px; width: 50px; margin: -40px 0 0 0; }
#streamSelectIcon { display: none; margin: 7px 0 0 10px;  }
#streamSelectActive { position: relative; width: 265px; white-space: nowrap; overflow: hidden; margin: -31px 0 0 50px; }
#streamSelectBrowseButtons.onebutton { margin-left: -120px; }
#streamSelectBrowseButtons.nobuttons { margin-left: -85px; }
#streamSelectBrowseButtons.singlestream { display: none; }
#streamSelectActive.onebutton { width: 305px; }
#streamSelectActive.nobuttons { width: 320px; }
#streamSelectActive.singlestream { width: 435px; margin-top: -40px; margin-left: 40px; }
#streamSelectButton.singlestream { display: none; }
#streamSelectIcon.singlestream { display: block; }

/* radio tabs */
#radios {
    position: absolute;
    height: 440px;
    top: 0;
    left: 0;
    background: black;
    color: white;
    vertical-align: middle;
    width: 480px;
    display: none;
    z-index: 1000;
    border-bottom: 1px solid white;
    padding: 10px;
    overflow: auto;
}
#radios ol {
    list-style: none;
    counter-reset: radio-counter;
    margin: 0; padding: 0;
}
#radios ol li {
    counter-increment: radio-counter;
    padding: 5px;
    border-bottom: 1px solid white;
    white-space: nowrap;
    overflow: hidden;
}
#radios ol li::before {
    content: counter(radio-counter) ". ";
}
#radios ol li:hover {
    background-color: gray;
    cursor: pointer;
}
#radios ol li i { display: none; }
#radios ol li.selected i { display: inline-block; }
#radios ol li:hover::after {
    font-family: FontAwesome;
    content: "\f04b";
    float: right;
}
.shortname { display: none; }
.stream_icon { display: none; }

#copyright {
    font-size: 0.7em;
    color: #000;
    position: absolute;
    top: 420px;
    background-color: #FFF;
}

/* style list */
#stylebutton {
    position: absolute;
    top: 100%;
    left: 100%;
    margin-top: -40px;
    margin-left: -40px;
    z-index: 400;
}

#stylelist {
    position: absolute;
    width: 40px;
    height: 250px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    top: 100%;
    left: 100%;
    margin-top: -250px;
    margin-left: -40px;
    z-index: 200;
    display: none;
}

/* style buttons */
.btn.style-black {
        background-color: black !important;
        color: black;
}
.btn.style-blue {
        background-color: #003399 !important;
        color: #003399;
}
.btn.style-green {
        background-color: #006633 !important;
        color: #006633;
}
.btn.style-red {
        background-color: #CC0000 !important;
        color: #CC0000;
}
.btn.style-yellow {
        background-color: #FFCC00 !important;
        color: #FFCC00;
}
.btn.style-checked {
    color: white !important;
}

/* language button */
#langbutton {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100%;
    left: 100%;
    margin: -40px 0 0 -80px;
    z-index: 400;
}
#langlist {
    width: 40px;
    height: 480px;
    top: 100%;
    left: 100%;
    margin-left: -80px;
    margin-top: -480px;
    position: absolute;
    border: 1px solid black;
    z-index: 200;
    background-color: #FFF;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}
#langlist ul {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    text-align: center;
}
#langlist ul li {
    height: 38px;
    width: 38px;
    vertical-align: middle;
    padding: 6px;
}

/* other button */
.btn-white {
    background-color: #FFF !important;
}

/* RTL settings */
body.rtl #trackTitle { text-align: right; left: 0; }
body.rtl #volumeSlider { left: -150px; }
body.rtl #stylebutton, body.rtl #stylelist {
    left: 0; margin-left:0;
}
body.rtl #langbutton, body.rtl #langlist {
    left: 40px;
    margin-left: 0;
}
body.rtl #streamSelectBrowseButtons {
    left: -310px;
    margin-left: 0;
    direction: ltr;
}
body.rtl #streamSelectActive { margin-right: 55px; text-align: right; }
body.rtl #radios ol li {
    text-align: right;
}
body.rtl #radios ol li:hover::after {
    float: left;
}
body.rtl #blockwarning p {
    text-align: right;
}
body.rtl #blockwarning_closer {
    float: left;
}

/* resize */
/* small vertical screen */
@media screen and (max-width: 479px) {
    #player { width: 320px; }
    #trackTitle { width: 225px; font-size: 1.0em; }
    #volumeSlider { width: 250px; }
    #historybutton { margin-top: -33px; }
    #history { height: 280px; }
    #radios { width: 320px; }
    #radios ol li {
        font-size: 0.8em;
        padding-top: 12px;
        padding-bottom: 15px;
    }
    #streamSelectButton { margin-top: -2px; }
    #streamSelectActive { width: 225px ; }
    #streamSelectActive.singlestream { width: 200px; }
    #streamSelectBrowseButtons { display: none; }
    #history ol {
        font-size: 0.8rem;
        margin-left: -1rem;
    }
    #copyright { font-size: 0.6em; }
}
/* small horizontal screen */
@media screen and (max-height: 479px) {
    #player { height: 320px; }
    #historybutton {display: none;}
    #history { display: none; }
    #copyright { top: 260px; }
    #streamSelect { top: 280px; }
    #blockwarning p { font-size: 0.8em; }
}

a:link, a:visited {
    color: #000;
}
a:hover, a:active {
    color: #cccccc;
}
