/* CSS for localization page */

/* core items */
html, body {
    height: 100%;
    overflow: hidden;
}

textarea {
    font-family: monospace;
    padding: 0.5em;
    border-style: none;
    border-color: Transparent;
    overflow: auto;
}


/* hide the screen resolution warning */
#low_res { display: none; margin-top: 3em; }

/* hide error message */
#error_msg { display: none; }

#buttons { text-align: center; margin-top: 1em; margin-bottom: 2rem; }
div.top { margin-top: 20px; }
h1.headspace { margin-top: 2.0em; }
h2.headspace { margin-top: 2.0rem; }
.logout-md { display: none; margin-right: 10px;  }
.logout-sm { display: none; }

.nav-link.dropdown-toggle { cursor: pointer; }

footer.bottom {
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: white;
}

.nav-tabs { margin-top: 1em; }

/* editor styles */
#to_translate {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    width: 95%!important;
    height: 88%!important;
    top: 1.6em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    z-index: 3;
    border-radius: 0.25rem;
}
#strings_loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
}
#hints {
    font-size: 0.8em;
}
#hints td {
    padding-bottom: 0.3em;
    vertical-align: top;
}
#translate_original {
    position: absolute;
    width: 100%;
    height: 75%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.3em;
    z-index: 3;
    border-radius: 0.25rem;
}

#translate_description {}

#translate_copy_button {
    position:absolute;
    top: 25%;
    right: 0;
    text-align: right;
}

#translate-xpand {
    position: absolute;
    top: -5px;
    right: 15px;
}

#translate_to_text {
    height: 60%;
    border-radius: 0.25rem;
}

#saving {
    margin-right: 10px;
    display: none;
}

.h-40 {
    height: 40%!important;
}
.w-95 {
    width: 95%!important;
}
.btn-menu {
    background-color: white;
}

.btn-menu:hover {
    background-color: #6c757d;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #6c757d;
    border-color: #6c757d;
}

.translation-item {
    cursor: pointer;
}

.translation-item.not-translated {
    font-weight: bold;
}
.translation-item.not-saved {
    color: #a7002a;
}
.translation-item.translated {}
.translation-item.group {
    background-color: #17a2b8;
    color: white;
}
.translation-item.selected {
    background-color: #007bff;
    color: white;
}

.translation-item:hover, .translation-item.selected:hover .translation-item.group:hover {
    background-color: #6c757d;
    color: white;
}

.translation-blurb {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.extra {
    margin-bottom: 6px;
}

/* hide all focus to boxes */
*:focus {
    outline: none;
}

@media screen and (max-width: 992px) {
    .logout-lg { display: none; }
    .logout-md { display: block; }
    .logout-sm { display: none; }
}

/* responsive */
@media screen and (max-width: 1023px) {
    #low_res { display: block; }
    #loc_iface { display: none; }
}

@media screen and (max-width: 1215px) {
    #hints p.extra { display: none; }
}

@media screen and (max-height: 767px) {
    #low_res { display: block; }
    #loc_iface { display: none; }
}

@media screen and (max-width: 576px) {
    .logout-lg { display: none; }
    .logout-md { display: none; }
    .logout-sm { display: block; }
}
