/* CSS for localization page */

/* hide the screen resolution warning */
#low_res { display: none; margin-top: 3em; }

/* hide error message */
#error_msg_create, #error_msg_delete { display: none; }

#buttons { text-align: center; margin-top: 1em; margin-bottom: 2rem; }
div.top { margin-top: 20px; }
h1.headspace { margin-top: 2.0em; }
h2.headspace { margin-top: 2.0rem; }
.logout-md { display: none; margin-right: 10px;  }
.logout-sm { display: none; }

.nav-link.dropdown-toggle { cursor: pointer; }

footer.bottom {
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: white;
}

.nav-tabs { margin-top: 1em; }

#add_lang_but {
    text-align: right;
    margin: 0.5em;
}

#add_lang_button_spinner { display: none; }

.rowspace {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
}

.rowfirst {
    border-top: 1px solid #CCCCCC;
}

.langname {
    margin-top: 0.3em;
}

.lastrow {
}

#langs_list {
    max-height: 430px;
    overflow: auto;
}

.sel-lang-item {
    cursor: pointer;
}

/* editor styles */
.btn-menu {
    background-color: white;
}

.btn-menu:hover {
    background-color: #6c757d;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #6c757d;
    border-color: #6c757d;
}

@media screen and (max-width: 992px) {
    .logout-lg { display: none; }
    .logout-md { display: block; }
    .logout-sm { display: none; }
}

/* responsive */
@media screen and (max-width: 1023px) {
  #low_res { display: block; }
  #loc_iface { display: none; }
}

@media screen and (max-height: 767px) {
    #low_res { display: block; }
    #loc_iface { display: none; }
}

@media screen and (max-width: 576px) {
    .logout-lg { display: none; }
    .logout-md { display: none; }
    .logout-sm { display: block; }
}
