/* CSS for login page */
body { overflow-x: hidden; }
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        -webkit-box-shadow: 0px 0px 2px 2px rgba(199,199,199,1);
        -moz-box-shadow: 0px 0px 2px 2px rgba(199,199,199,1);
        box-shadow: 0px 0px 2px 2px rgba(199,199,199,1);
}
.nav-link.dropdown-toggle { cursor: pointer; }

#do_login { min-width: 120px; }
footer.bottom {
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    text-align: center;
}
footer p { margin: 0 0 5px 0; }
#success_msg, #error_msg, #reset_success_msg, #reset_error_msg { display:none; }
#do_login_spinner, #do_reset_spinner, #return_from_reset { display: none; }
#pwd_reset_form { display: none; }
#pwd_reset_cancel { float: left; }
#do_reset, #return_from_reset { min-width: 180px; }

@media screen and (max-width: 576px) {
    #pwd_reset_cancel { float: none; margin-bottom: 10px; }
}

/* Password reset form */
#pwd_form { }
#pwd_success { display: none; }
