/* CSS for settings page */
#buttons { text-align: center; margin-top: 1em; margin-bottom: 2rem; }
div.top { margin-top: 20px; margin-bottom: 2em;}
h1.headspace { margin-top: 2.0em; }
h2.headspace { margin-top: 2.0rem; }
.s-noselect { display: none; }
.fac { font-size: 1.0rem; display: block; }
h2.fac { font-size: 2rem; }
div.form-item { margin-bottom: 1rem; }
.stream { margin-bottom: 2em; }
.delbox { float:right; width: 40px; height: 40px; position: relative; }
.delbox button {
    border: none;
    background-color: transparent;
}
.delbox button:hover {
    color: red;
}
#add_stream { text-align: center; }
#error_msg, #success_msg { display: none; }
.logout-md { display: none; margin-right: 10px;  }
.logout-sm { display: none; }

.nav-link.dropdown-toggle { cursor: pointer; }
#lockout_unlock_code { display: none; }
#unlock_code_txt, #unlock_code_link { font-weight: bold; }

footer.bottom {
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: white;
}

@media screen and (max-width: 992px) {
    .logout-lg { display: none; }
    .logout-md { display: block; }
    .logout-sm { display: none; }
}

@media screen and (max-width: 576px) {
    .logout-lg { display: none; }
    .logout-md { display: none; }
    .logout-sm { display: block; }
}
