/* CSS for wizard.php */

body { overflow: hidden; }

.wiz-row {
    margin-top: 30px;
    min-height: 80vh;
}
.no-scroll {
    overflow: hidden;
}
.scroll-v {
    overflow-y: auto;
    overflow-x: hidden;
}
.card { height: 40rem; }
.fac { font-size: 1.0em; }
.fac-nowrap { display: block; margin-bottom: 0.5em; }
.fac-indent { margin-left: 1.5em; }
.card-header { font-weight: bold; }
div.form-item { margin-bottom: 1.0em; }
.alert { margin-top: 2rem; }

/* show or hide the wizard steps */
.step { display: none; }
.active { display: block; }

/* hide the error messages */
.error-msg { display:none; }

/* hide the screen resolution warning */
#low_res { display: none; }

/* step 4 */
#s_single_streams, #summary {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    height: 85%;
    overflow-y: auto;
    padding: 5px;
}
#s_single_streams_loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1rem;
    margin-left: -1rem;
}
#s_single_streams_table {
    width: 100%;
    display: none;
}
#s_single_streams_table tr {
    border-bottom: 1px solid rgba(0,0,0,.125);
}
#s_single_streams th.checkbox, #s_single_streams td.checkbox {
    width: 10%;
    text-align: right;
}
#s_single_streams th.sid, #s_single_streams td.sid {
    width: 10%;
}
#s_single_streams th.name, #s_single_streams td.name {
    width: 45%;
}
#s_single_streams th.path, #s_single_streams td.path {
    width: 20%;
}
#s_single_streams th.status, #s_single_streams td.status {
    width: 15%;
}
#s_single_streams td.name input { width: 90%; border: none; }

.stream-up { color: green; }
.stream-dn { color: gray; }

/* step 6 */
#selected_streams_list td {
    padding-bottom: 8px;
}

/* theme thumbnails */
#theme_thumbnail {
    position: absolute;
    right: 3rem;
    top: 7rem;
    width: 250px;
    height: 150px;
    background-color: #CCCCCC;
    background-image: url("../img/blue-scrnshot.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* pwa title box */
#pwa_title_box { display: none; }

/* buttons */
#next_btn { width: 80px; }
#add_stream { margin-top: 1.5em; text-align: center; display: none;  }
#back_btn, #finish_btn, #close_btn { display: none; }
#next_btn_spinner, #finish_btn_spinner { display: none; }
#current_step { float:left; margin-top: 7px;}
#finish_btn { width: 90px; }

footer.bottom {
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    text-align: center;
}

/* responsive */
@media screen and (max-width: 799px) {
  #low_res { display: block; }
  #wizard_form { display: none; }
}
